body {
    font-family: 'Poppins', sans-serif;
    margin: 2;
    padding: 2;
    background-color:#B0578D;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/920/609/236/dna-science-biology-chemistry-wallpaper-preview.jpg);
}

header {
    background-color:whitesmoke;
    color:#fff;
    text-align: center;
    font-family: 'Nosifer', sans-serif;
    padding: 0cm;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/920/609/236/dna-science-biology-chemistry-wallpaper-preview.jpg);
}

nav {
    background-color: #555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 21px;
}



nav a {
    text-decoration:bisque;
    color: whitesmoke; /* Set the text color for the navigation links */
    font-weight:bold;
}
/* Style for the navigation links on hover */
nav a:hover {
    color:crimson; /* Set a different color on hover */
}

h1 {
    margin: 2;
}

section {
    background-color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* styles.css */

/* Apply a maximum width to the image */
img {
    max-width: 50%; /* Ensures the image doesn't exceed its container's width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes any extra space below the image */
    margin: 0 auto; /* Centers the image within its container */
    border: 1px solid #ddd; /* Optional: Adds a border around the image */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}


h2 {
    color: #333;
}

.mission-vision, .history, .faculty-expertise, .contact-info {
    margin-bottom: 40px;
}

.faculty-member {
    margin-top: 20px;
}
.faculty-expertise {
    text-align: center;
    padding: 20px;
}

.faculty-members {
    display: flex;
    justify-content: center;
}

.faculty-member {
    margin: 0 10px; /* Adjust margin as needed to create space between faculty members */
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

