body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://st2.depositphotos.com/39091214/48280/i/450/depositphotos_482803198-stock-photo-word-admission-written-wooden-cubes.jpg);
}

.header-container,
.hero-container,
.admission-container,
.choose-us-container,
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding:1cm;
    font-family: 'Nosifer', sans-serif;

}

h1 {
    margin: 0;
}

.hero {
    background-color: #fff;
    color:#1a1a1a;
    text-align: center;
    padding:1%;
    background-image: url(https://st2.depositphotos.com/39091214/48280/i/450/depositphotos_482803198-stock-photo-word-admission-written-wooden-cubes.jpg);
}

.hero img {
    max-width: 300%;
    height:min-content;
    border-radius: 8px;
    margin-bottom: 8px;
}

.admission-details,
.why-choose-us {
    background-color: #f4f4f4;
    padding: 50px 0;
}

h2 {
    color: #333;
}

.requirements {
    margin-top: 30px;
}

.requirements ul {
    list-style-type: none;
    padding: 0;
}

.requirements li {
    margin-bottom: 10px;
}

.why-choose-us ul {
    list-style-type: none;
    padding: 0;
}

.why-choose-us li {
    margin-bottom: 10px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}



nav a {
    text-decoration:bisque;
    color: whitesmoke; /* Set the text color for the navigation links */
    font-weight:bold;
}
/* Style for the navigation links on hover */
nav a:hover {
    color:crimson; /* Set a different color on hover */
}

