body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color:blanchedalmond;
    color: #333;
    text-align: center;
    padding: 1em;
    font-family: 'Nosifer', sans-serif;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  header p {
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
  }
  
  .contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1.5em;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .contact-card:hover {
    transform: translateY(-5px);
  }
  
  .contact-image {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  
  .contact-details {
    color: #333;
  }
  
  footer {
    background-color:blanchedalmond;
    color: #333;
    text-align: center;
    padding: 1em;
    position:static;
    bottom: 0;
    width: 100%;
  }
  nav {
    background-color: #555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}



nav a {
    text-decoration:bisque;
    color: whitesmoke; /* Set the text color for the navigation links */
    font-weight:bold;
}
/* Style for the navigation links on hover */
nav a:hover {
    color:crimson; /* Set a different color on hover */
}
  
  
  